
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.env
*.pyc
*.pyo
.DS_Store
__pycache__/
*/__pycache__/
*/*/__pycache__/
migrations
env
regrading/moncoregrad.db
